div.ColunaValor {
    overflow: scroll;
    white-space: nowrap;
    background-color: transparent;  
    display:table-cell;
    align-items: flex-end;
    border-radius: 10px 0 0 0;
    position: relative; 
    width: auto;
    height: 215px;

    overflow: hidden;

}

div.ColunaValor div{
    /* Letra */
    font-size: 15px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* Espaçamento */
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

}

div.ColunaDados {
    overflow: auto;
    white-space: nowrap;

    overflow-x: unset;

    background-color: transparent;  
    display: inline-flex;
    align-items: flex-end;
    border-radius: 0px 10px 0px 0px;
    position: relative;
    min-width: 270px;
    width: 270px;
    height: 185px;

}

div.ColunaDados div {
    display: inline-block;
    margin-left: 5px;
    min-width: 50px;
    background-color: black;
    border-radius: 5px 5px 0 0;
}

div.scrollmenu a:hover {
  background-color: #777;
}
